.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    color: #f4f4fd;
    display: inline-block;
        margin-bottom: 16px;
}

.footer-logo span {
    color: #4d5ae5;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}