.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo span {
    color: #4d5ae5;
}

.nav-link {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
        letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}
.contacts-link {
    color: #434455;
    line-height: 1.5;
        letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
header {
    border-bottom: 1px solid #e7e9fc;
}

header .container {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;
}

nav ul {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

address {
    margin-left: auto;
}

address ul {
    display: flex;
    gap: 40px;
}