.team {
    background-color: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.team li {
    background-color: #ffffff;
}

.team-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}